.card {
    display: inline-block;
    border-radius: 1px solid #eee;
    width: 250px;
    box-shadow: 2px 2px 2px 2px #ccc;
    padding: 20px;
    margin: 30px;
}

.card-checkbox{
    display: inline;
    float: right;
}

.caprion{
    display: inline;
}

.checked {
    display: inline-block;
    border-radius: 1px solid #eee;
    width: 250px;
    box-shadow: 2px 2px 2px 2px red;
    padding: 20px;
    margin: 30px;
}

.unchecked {
    display: inline-block;
    border-radius: 1px solid #eee;
    width: 250px;
    box-shadow: 2px 2px 2px 2px #ccc;
    padding: 20px;
    margin: 30px;
}